
/* 最原始的背景暗處 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 微暗效果 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 14;
}

body{
	background-color: white;
}

.card {
	position: absolute;
	width: 91px;
	height: 117px;
	z-index: 10;
	
}

#overlay_timer{
	display: none;
}

.quote{
	text-align: center;
	font-size: 30px;
	color: #fff;
}

.gray{
	filter: grayscale(1);
}

.container1 {
	position: absolute;
	width: 91px;
	height: 117px;
	z-index: 10;
}

.container2, .container3, .container4 {
	position: absolute;
	width: 91px;
	height: 117px;
}


#c2c01 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c01 {
	backface-visibility: hidden;
}

#c4c01 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c01:hover #c2c01 {
	transform: rotateY(-180deg);
}

#c2c02 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c02 {
	backface-visibility: hidden;
}

#c4c02 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c02:hover #c2c02 {
	transform: rotateY(-180deg);
}

#c2c03 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c03 {
	backface-visibility: hidden;
}

#c4c03 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c03:hover #c2c03 {
	transform: rotateY(-180deg);
}

#c2c04 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c04 {
	backface-visibility: hidden;
}

#c4c04 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c04:hover #c2c04 {
	transform: rotateY(-180deg);
}

#c2c05 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c05 {
	backface-visibility: hidden;
}

#c4c05 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c05:hover #c2c05 {
	transform: rotateY(-180deg);
}

#c2c06 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c06 {
	backface-visibility: hidden;
}

#c4c06 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c06:hover #c2c06 {
	transform: rotateY(-180deg);
}

#c2c07 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c07 {
	backface-visibility: hidden;
}

#c4c07 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c07:hover #c2c07 {
	transform: rotateY(-180deg);
}

#c2c08 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c08 {
	backface-visibility: hidden;
}

#c4c08 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c08:hover #c2c08 {
	transform: rotateY(-180deg);
}

#c2c09 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c09 {
	backface-visibility: hidden;
}

#c4c09 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c09:hover #c2c09 {
	transform: rotateY(-180deg);
}

#c2c10 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c10 {
	backface-visibility: hidden;
}

#c4c10 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c10:hover #c2c10 {
	transform: rotateY(-180deg);
}

#c2c11 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c11 {
	backface-visibility: hidden;
}

#c4c11 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c11:hover #c2c11 {
	transform: rotateY(-180deg);
}

#c2c12 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c12 {
	backface-visibility: hidden;
}

#c4c12 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c12:hover #c2c12 {
	transform: rotateY(-180deg);
}

#c2c13 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c13 {
	backface-visibility: hidden;
}

#c4c13 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c13:hover #c2c13 {
	transform: rotateY(-180deg);
}

#c2c14 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c14 {
	backface-visibility: hidden;
}

#c4c14 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c14:hover #c2c14 {
	transform: rotateY(-180deg);
}

#c2c15 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c15 {
	backface-visibility: hidden;
}

#c4c15 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c15:hover #c2c15 {
	transform: rotateY(-180deg);
}

#c2c16 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c16 {
	backface-visibility: hidden;
}

#c4c16 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c16:hover #c2c16 {
	transform: rotateY(-180deg);
}

#c2c17 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c17 {
	backface-visibility: hidden;
}

#c4c17 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c17:hover #c2c17 {
	transform: rotateY(-180deg);
}

#c2c18 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c18 {
	backface-visibility: hidden;
}

#c4c18 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c18:hover #c2c18 {
	transform: rotateY(-180deg);
}

#c2c19 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c19 {
	backface-visibility: hidden;
}

#c4c19 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c19:hover #c2c19 {
	transform: rotateY(-180deg);
}

#c2c20 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c20 {
	backface-visibility: hidden;
}

#c4c20 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c20:hover #c2c20 {
	transform: rotateY(-180deg);
}

#c2c21 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c21 {
	backface-visibility: hidden;
}

#c4c21 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c21:hover #c2c21 {
	transform: rotateY(-180deg);
}

#c2c22 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c22 {
	backface-visibility: hidden;
}

#c4c22 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c22:hover #c2c22 {
	transform: rotateY(-180deg);
}

#c2c23 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c23 {
	backface-visibility: hidden;
}

#c4c23 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c23:hover #c2c23 {
	transform: rotateY(-180deg);
}

#c2c24 {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

#c3c24 {
	backface-visibility: hidden;
}

#c4c24 {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

#c1c24:hover #c2c24 {
	transform: rotateY(-180deg);
}

#bPostcard {
	z-index: 11;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 微暗效果 */
    display: none;
    justify-content: center;
    align-items: center;
}

.cPostcard {
	position: absolute;
	left: 215px;
	top: 100px;
	width: 874px;
	height: 556px;
	display: none;
}

.postcard {
	position: absolute;
	width: 874px;
	height: 556px;
}

/* Zoom out animation*/
.zoom {
	transition: transform .2s; /* Animation */
	margin: 0 auto;
}

.zoom:hover {
	transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* Snow motion*/
.canvas {
	flex-shrink: 0;
	width: 1200px;
	height: 1937px;
	overflow: hidden;
	position: absolute;
	border-radius: 6px;
	display: none;
}
.snowing {
	position: absolute;
	filter: blur(.8px);
	z-index: 12;
	width: 100%;
	height: 100%;
}

.snowing .small {
	position: absolute;
	width: 6px;
	height: 6px;
	background: #fff;
	border-radius: 50%;
	animation-name: snow-fall, snow-shake;
	animation-duration: 12s, 4s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	top: -100%;
	
	&:nth-child(1) {
		left: 420px;
		top: -40px;
		animation-delay: 9s, .3s;
	}
	&:nth-child(2) {
		left: 800px;
		top: -50px;
		animation-delay: 6s, .3s;
	}
	&:nth-child(3) {
		left: 1440px;
		top: -130px;
		animation-delay: 8s, .3s;
	}
	&:nth-child(4) {
		left: 280px;
		animation-delay: 10s, .3s;
	}
	&:nth-child(5) {
		left: 1000px;
		animation-delay: 7s, .2s;
	}
	&:nth-child(6) {
		left: 300px;
		top: -30px;
		animation-delay: 5.2s, .3s;
	}
	&:nth-child(7) {
		left: 400px;
		top: -20px;
		animation-delay: 3.4s, .3s;
	}
	&:nth-child(8) {
		left: 140px;
		top: -330px;
		animation-delay: 6.6s, .3s;
	}
	&:nth-child(9) {
		left: 760px;
		top: -90px;
		animation-delay: 5.6s, .3s;
	}
	&:nth-child(10) {
		left: 260px;
		animation-delay: 11s, .2s;
	}
	&:nth-child(11) {
		left: 40px;
		animation-delay: 10.5s, .3s;
	}
	&:nth-child(12) {
		left: 1240px;
		top: -40px;
		animation-delay: 8s, .3s;
	}
	&:nth-child(13) {
		left: 800px;
		top: -180px;
		animation-delay: 3.7s, 3s;
	}
	&:nth-child(14) {
		left: 1000px;
		top: -370px;
		animation-delay: 6s, .3s;
	}
	&:nth-child(15) {
		left: 1320px;
		top: -20px;
		animation-delay: 9s, .3s;
	}
	&:nth-child(16) {
		left: 1220px;
		top: -80px;
		animation-delay: 7.3s, .3s;
	}
	&:nth-child(17) {
		left: 40px;
		top: -210px;
		animation-delay: 6.8s, 2s;
	}
	&:nth-child(18) {
		left: 1340px;
		top: -200px;
		animation-delay: 6.5s, .6s;
	}
	&:nth-child(19) {
		left: 420px;
		top: -120px;
		animation-delay: 4s, .3s;
	}
	&:nth-child(20) {
		left: 40px;
		top: -110px;
		animation-delay: -1.1s, -.1s;
	}
}

.snowing .medium {
	position: absolute;
	width: 8px;
	height: 8px;
	background: #fff;
	border-radius: 50%;
	animation-name: snow-fall, snow-shake;
	animation-duration: 12s, 4s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	top: -100%;
	
	&:nth-child(1) {
		left: 600px;
		top: -420px;
		animation-delay: 3.4s, 1s;
	}
	&:nth-child(2) {
		left: 1060px;
		animation-delay: .2s, .1s;
	}
	&:nth-child(3) {
		left: 680px;
		top: -110px;
		animation-delay: 6s, 2s;
	}
	&:nth-child(4) {
		left: 500px;
		top: -390px;
		animation-delay: 3.4s, 3s;
	}
	&:nth-child(5) {
		left: 800px;
		top: -150px;
		animation-delay: 8.4s, .3s;
	}
	&:nth-child(6) {
		left: 1440px;
		top: -240px;
		animation-delay: 7.7s, 1s;
	}
	&:nth-child(7) {
		left: 700px;
		top: -180px;
		animation-delay: 6s, 0.5s;
	}
	&:nth-child(8) {
		left: 1120px;
		animation-delay: 1s, 0.5s;
	}
	&:nth-child(9) {
		left: 20px;
		top: -310px;
		animation-delay: 8.2s, 0.5s;
	}
	&:nth-child(10) {
		left: 80px;
		top: -220px;
		animation-delay: 3s, 1s;
	}
	&:nth-child(11) {
		left: 440px;
		top: -530px;
		animation-delay: .6s, 3s;
	}
	&:nth-child(12) {
		left: 1260px;
		top: -10px;
		animation-delay: 9.4s, 2s;
	}
	&:nth-child(13) {
		left: 840px;
		top: -60px;
		animation-delay: 8s, 3s;
	}
	&:nth-child(14) {
		left: 1160px;
		animation-delay: 2s, .3s;
	}
	&:nth-child(15) {
		left: 840px;
		top: -180px;
		animation-delay: 7s, 1s;
	}
	&:nth-child(16) {
		left: 720px;
		animation-delay: 8s, .3s;
	}
	&:nth-child(17) {
		left: 180px;
		top: -190px;
		animation-delay: 4.5s, 1s;
	}
	&:nth-child(18) {
		left: 260px;
		top: -330px;
		animation-delay: 8.2s, 1s;
	}
	&:nth-child(19) {
		left: 300px;
		top: -490px;
		animation-delay: 6.5s, .1s;
	}
	&:nth-child(20) {
		left: 1280px;
		top: -270px;
		animation-delay: 10s, 1.5s;
	}
}

.countdownTimer{
	color: white; 
	font-family: Marykate;
}

.im-fell-dw-pica-regular {
	font-family: "IM Fell DW Pica", serif;
	font-weight: 400;
	font-style: normal;
}
  
.im-fell-dw-pica-regular-italic {
	font-family: "IM Fell DW Pica", serif;
	font-weight: 400;
	font-style: italic;
}
  

@keyframes snow-fall {
	0% {
		top: -10%;
	}
	100% {
		top: 100%;
	}
}
@keyframes snow-shake {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(60px);
	}
	100% {
		transform: translateX(0px);
	}
}
@font-face {
	font-family: Marykate;
	src: url(../font/FontsFree-Net-Marykate-Regular.ttf);
}